<%= form_with(model: post, local:true, url:confirm_post_path) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  
  <div class="field">
    <%= form.label :image %>
    <% image_tag(post.image.url) if post.image && post.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :iamge_cache %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
