<p id="notice"><%= notice %></p>

<p>
  <strong>内容:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>画像:</strong>
  #image_tagは画像のパスを引数にして画像を表示させるメソッド
  <%= image_tag @post.image.url %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @post.user_id%>
</p>

<%= link_to '編集する', edit_post_path(@post) %> |
<%= link_to '一覧へ戻る', posts_path %>
